<ul class="books">
	<li class="book">
		<div class="thumbnail">
			<%= image_tag '1.jpg', :size => '200x282' %>
		</div>
		<h1>Chicago</h1>
		<p class="detail">
			This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</p>
	</li>
	<li class="book">
		<div class="thumbnail">
			<%= image_tag '2.jpg', :size => '200x282' %>
		</div>
		<h1>The Art of Immersion</h1>
		<p class="detail">
			This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</p>
	</li>
	<li class="book">
		<div class="thumbnail">
			<%= image_tag '3.jpg', :size => '200x282' %>
		</div>
		<h1>The Spies</h1>
		<p class="detail">
			This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</p>
	</li>
	<li class="clear"></li>
	<li class="book">
		<div class="thumbnail">
			<%= image_tag '4.jpg', :size => '200x282' %>
		</div>
		<h1>A Clockwork Orange</h1>
		<p class="detail">
			This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</p>
	</li>
	<li class="book">
		<div class="thumbnail">
			<%= image_tag '5.jpg', :size => '200x282' %>
		</div>
		<h1>Critique and Disclosure</h1>
		<p class="detail">
			This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</p>
	</li>
	<li class="book">
		<div class="thumbnail">
			<%= image_tag '6.jpg', :size => '200x282' %>
		</div>
		<h1>Captain Jinks</h1>
		<p class="detail">
			This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.
		</p>
	</li>
</ul>
