<div class="bookpicture">
  <%= image_tag @book.image_url, size: '200x282' %>
</div>
<div class="bookdetail">
  <ul>
    <li>
      <h1><%= @book.title %></h1>
    </li>
    <li>
      <b>Author : </b> <%= @book.author %>
    </li>
    <li>
      <b>Description : </b> <%= @book.description %>
    </li>
    <li>
      <b>Price : </b> <%= @book.price %> Baht
    </li>
    <li>
      <b>Status : </b> <%= @book.status %>
    </li>
  </ul>
</div>

<div class="clear"></div>

<div class="borrow_status">
  <table>
    <tr>
      <th>Name</th>
      <th>Borrow</th>
      <th>Return</th>
    </tr>
    <tr>
      <td>Eddy</td>
      <td>10/12/2012</td>
      <td>21/12/2012</td>
    </tr>
  </table>
</div>