<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="./assets/gooread.css"></link>
</head>
<body>
	<div id="header"></div>
	<div id="content">
		<ul class="books">
			<li class="book">
				<%= image_tag '1.jpg', :size => '200x282' %>
				<h1>Chicago</h1>
				<p class="detail">This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.</p>
			</li>
			<li class="book">
				<%= image_tag '2.jpg', :size => '200x282' %>
				<h1>The Art of Immersion</h1>
				<p class="detail">This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.</p>
			</li>
			<li class="book">
				<%= image_tag '3.jpg', :size => '200x282' %>
				<h1>The Spies</h1>
				<p class="detail">This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.</p>
			</li>
			<li class="clear"></li>
			<li class="book">
				<%= image_tag '4.jpg', :size => '200x282' %>
				<h1>A Clockwork Orange</h1>
				<p class="detail">This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.</p>
			</li>
			<li class="book">
				<%= image_tag '5.jpg', :size => '200x282' %>
				<h1>Critique and Disclosure</h1>
				<p class="detail">This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.</p>
			</li>
			<li class="book">
				<%= image_tag '6.jpg', :size => '200x282' %>
				<h1>Captain Jinks</h1>
				<p class="detail">This guide focuses on the interaction between Controller and View in the Model-View-Controller triangle. As you know, the Controller is responsible for orchestrating the whole process of handling a request in Rails, though it normally hands off any heavy code to the Model. But then, when it’s time to send a response back to the user, the Controller hands things off to the View. It’s that handoff that is the subject of this guide.</p>
			</li>
		</ul>
	</div>
	<div id="footer"></div>
</body>
</html>